header {
  height: 40px;
  width: 100%;

  text-align: center;
  background-color: rgb(61, 61, 61);
  color: var(--color-white-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    color: var(--color-white-primary);
    font-weight: bold;
  }
  a:hover {
    color: var(--color-gold-primary);
  }

  @media screen and (max-width: 350px) {
    h2 {
      font-size: 1.1rem;
    }
  }
}
