.game_play_buttons {
  //   background: white;
  position: fixed;
  right: 0;
  top: 100px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.189);
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  gap: 1rem;
  z-index: 5;

  .game_button {
    background: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    border-radius: 50%;
    padding: 0;
  }

  .inactive {
    filter: opacity(0.1);
    cursor: default;
  }
}
